.category {
  margin-top: 1.3rem;
  color: #db831f;
  font-weight: 700;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  border-bottom: 4px solid #583506;
}
@media (min-width: 320px) {
  .category {
    font-size: 1em;
  }
}

@media (min-width: 376px) {
  .category {
    font-size: 1.6em;
  }
}
@media (min-width: 425px) {
  .category {
    font-size: 2em;
  }
}

@media (min-width: 768px) {
  .category {
    font-size: 2.3em;
  }
}
